#textInput {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
}
#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.key-row {
    display: flex;
    margin-bottom: 10px;
}
.key {
    padding: 10px;
    margin: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}
.key:hover{
    background-color: #e0e0e0;
}
