body {
    background-color: #AEC6CF;
    color: #36454F;
    text-align: left;
    justify-content: left;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    color: #36454F;
    font-size: 50 px;
    text-align: center;
}

#button {
    text-align: center;
    background-color: rgb(237, 204, 19);
    border-radius: 8px;
}
